.checkboxStyle {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

label {
    display: inline; 
    padding: 0;
    margin: 0;
}

.inp {
    display: inline;
    height: 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: inherit;
    background-color: white;
}

.checkbox1 {
    height: 0.8rem;
    
}
