html, body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(217, 213, 213);
  margin: 0;
  padding: 0;
}

.container {
  margin: 1%;
}
.nav-bar2 {
  display: flex;
  flex-direction: row;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}